#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Sublime Text
GenericName=text
Comment=textextextextext
Exec="/home/toor/bin/sublime/sublime_text" %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=/home/toor/bin/sublime/Icon/32x32/sublime_text.png
Categories=TextEditor;Development;Utility;
