#!/usr/bin/env xdg-open
# place in /usr/share/applications/
[Desktop Entry]
Name=sublime-text-2
GenericName=text
Comment=textextextextext
Exec="/opt/sublime-text-2/sublime_text" %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=/opt/sublime-text-2/Icon/32x32/sublime_text.png
Categories=TextEditor;Development;Utility;
